@import url("https://fonts.googleapis.com/css?family=Catamaran:100&display=swap");

* {
  font-family: "Catamaran";
}

.main {
  background: ghostwhite;
}

.newSubField {
  background: #222;
  padding: 7px;
  text-align: center;
}

.newSubField input {
  background: transparent;
  border: 1px solid white;
  padding: 7px;
  color: white;
  font-weight: lighter;
}

.newSubField button {
  background: transparent;
  border: 1px solid white;
  padding: 7px;
  margin-left: 10px;
  color: rgba(250, 250, 250, 0.7);
  font-weight: lighter;
  width: 16%;
}

button:hover {
  outline: none;
  background: ghostwhite;
  color: #222;
  cursor: pointer;
}

button:active {
  outline: none;
}

.newSubField input {
  width: 50%;
}

input:focus {
  outline: none;
}

.cont {
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 2px;
  padding: 20px 10px;
  margin: 15px auto;
  width: 90%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.subreddit {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -8px;
  left: 10px;
}

.fab {
  color: red;
  font-size: 1em;
  margin-right: 2px;
}

.mainImg {
  width: 95%;
  margin-bottom: 10px;
}

.noPic {
  border: 1px solid slategray;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  padding-bottom: 6px;
}

h3 {
  font-size: 11px;
  text-align: center;
  font-weight: 100;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

hr {
  border: none;
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.3);
  width: 75%;
  margin-bottom: 15px;
}

.social {
  display: inline-flex;
  width: max-content;
  padding: 2px 5px;
  margin: auto;
  position: relative;
  width: 95%;
  justify-content: space-around;
}

.social p {
  display: inline;
  position: relative;
  top: -4px;
  font-size: 15px;
}

.socialIcon {
  width: 20px;
  margin: 0 2.5px 0 10px;
}

.headerImage {
  width: 80%;
  height: 25px;
  display: block;
  margin-top: 15px;
  border-radius: 5px;
}

.authorImage {
  width: 30%;
  height: 15px;
  margin-top: 5px;
  border-radius: 5px;
}

.imageImage {
  transform: scale(1.05);
  border-radius: 5px;
  width: 95%;
  margin: 10px 5px;
}

.placeholderSubreddit {
  position: absolute;
  top: 0;
  left: 8px;
}

.subredditImage {
  margin: 3px;
  padding: 0;
  border-radius: 3px;
}

.PlaceholderSocialIcon {
  border-radius: 4px;
}

.fade {
  opacity: 0.6;
  align-self: center;
}

.comment {
  background-color: #f1f1f1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 0.8em;
  margin: 2% 0;
  padding: 5px 15px;
  width: 87%;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 1.8em;
  color: #ed422f;
  position: relative;
}

.closeButton:hover {
  background: transparent;
  border: none;
  color: #ce2512;
}

.likeSpan {
  display: block;
  margin: 15px auto 0;
  text-align: right;
}

.like {
  color: #ff6868;
  margin-right: 2px;
  font-size: 0.9em;
}

.authorComment {
  display: inline;
  margin-right: 5px;
  font-size: 0.7rem;
}

.commentIcon:hover {
  cursor: pointer;
}

.commentSectionPh {
  text-align: center;
}

.commentPh {
  display: block;
  margin: auto;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 7px;
}

@media(min-width: 955px) {
  .cont {
    width: 50%;
  }

  .socialIcon {
    width: 26px;
  }

  .social p {
    font-size: 20px;
  }

  .newSubField input {
    width: 35%;
  }

  .newSubField button {
    width: 7%;
  }
}